{% extends 'forum/base.html' %}

{% block content %}
<style>
  .search-bar {
    margin: 0 auto;
    font-size: 16px;
    width: 60%;
    padding: 10px;
    position: center;

    transform: translateY(-60px);
    border: none;
  }

  .search-bar:focus {
    outline: none !important;
    border: 1px solid grey;
    box-shadow: 0 0 10px #719ECE;
  }

  .search-wrapper {

    display: flex;
    justify-content: center;
    margin: auto 0;
    z-index: 1000;
    width: 100%;
    transform: translateY(-60px);

    visibility: hidden;
    display: none;

    /*
    z-index: 200;
    width: auto;
    position: absolute;
    */

  }

  .search-overlay {
    margin: 0 auto;

    width: 60%;
    height: auto;
    background-color: #fafafa;
    padding: 10px 10px 10px 10px;
  }

  .item-wrapper {
    width: 100%;
    border-bottom: 1px solid #e8e3e3;
  }

  .item {
    font-size: 16px;
    line-height: 30px;
  }

  .item a {
    text-decoration: none;
    color: black;
  }

  #box {
    position: relative;
  }
</style>

<!-- <div class="search" style="margin:auto 0; width:100%; display:flex; ">
  <input id="search_here" class="form-control" placeholder="type here to search" name="" value="" style="margin: 0 auto; font-size: 16px; width:50%; padding:10px;
  position:center;" >
</div> -->

<div class="search" style="margin:auto 0; width:100%; z-index:1000; display:flex;">
  <input id="search_here" class="form-control search-bar" placeholder="search" name="" value="" style="">
</div>

<div class="search-wrapper" id="search-wrapper">
  <div class="search-overlay" id="search-overlay">

    <div class="item-wrapper" id="item-wrapper">
      {% for item in object_list %}
      <span class="item" id="item">
        <a href="#">{{item}}</a>
        <br>
      </span>
      {% endfor %}
    </div>
    <br>

  </div>
</div>


<!-- <div id="box">
  {% for item in object_list %}
  <b>{{item}}</b>
  <br>
  {% endfor %}

</div> -->


{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
<script>
  // document.getElementById("search-wrapper").style.display = 'none';
  document.getElementById("search-wrapper").style.visibility = 'hidden';

  const data = '{{qs_json}}'
  console.log(data);
  // const rdata = JSON.parse(data.replace(/&quot;/g, '"'));
  // console.log(rdata);

  // replace code with apostrophe
  const mdata = data.replace(/&#x27;/, "'");
  // console.log(mdata);

  const rdata = JSON.parse(mdata.replace(/&quot;/g, '"'));
  console.log(rdata);

  // console.log(typeof(rdata));

  const input = document.getElementById('search_here');
  // console.log(input.length);

  // const search = document.getElementById('search_here').value;
  // console.log(search);

  // const box = document.getElementById('box');
  const searches = document.getElementById('search-overlay');

  let filteredArr = [];
  console.log(filteredArr);

  var b = document.querySelector(".search-wrapper");


  input.addEventListener('keyup', (e)=> {
    // console.log(search.length);

    // box.innerHTML = "";
    searches.innerHTML = '';

    // console.log(input.value)
    console.log(e.target.value)

    // filteredArr = rdata.filter((question) => question['question_text'].includes(e.target.value));
    filteredArr = rdata.filter((question)=> question['question_text'].includes(e.target.value));
    console.log(filteredArr);

    if(filteredArr.length > 0){
      // searches.innerHTML = ""
      b.style.display = 'block';
      b.style.visibility = 'visible';

      filteredArr.map(question=>{
        // box.innerHTML += `<b>  ${question['question_text']} </b><br>`


        searches.innerHTML += `<div class="item-wrapper" id="item-wrapper">
          <span class="item" id="item">
            <a href="#">${question["question_text"]}</a>
            <span><br>
          </div>`

        // my_url = "{% url 'forum:index' %}"
        //
        // searches.innerHTML += `<div class="item-wrapper" id="item-wrapper">
        //   <span class="item" id="item">
        //     <a href="${my_url}question/${question["id"]}">${question["question_text"]}</a>
        //     <span><br>
        //   </div>`

        // console.log(my_url);

      }

      );
    }
    else {
     console.log('not empty');
     // b.style.display = 'none';
     // b.style.display = 'block';
     // b.style.visibility = 'visible';
     searches.innerHTML = `<div class="item-wrapper" id="item-wrapper">
     <span class="item" id="item"> No items found<span><br>
       </div>`
   }

    // if (input.value == "" || filteredArr.length < 1) {
    //   console.log('empty');
    //
    //   b.style.display = 'block';
    //   b.style.visibility = 'visible';
    //
    //
    //   // b.style.display = 'none';
    //
    //   // b.style.visibility = 'hidden';
    //
    //   // searches.innerHTML += `<div class="item-wrapper" id="item-wrapper">
    //   //   <span class="item" id="item"> No items found<span><br>
    //   //   </div>`
    //   searches.innerHTML = "";
    //
    // }


  });
</script>
{% endblock scripts %}
